body {
  font-family: sans-serif;
}

input:focus {
  outline: none;
}

.asidecontainer {
  display: inline-block;
  width: 170px;
  height: 100%;
  margin: 0;
  background: silver;
  box-shadow: 5px 10px 10px #888888;
}

.navspacer {
  width: 190px ;
  height: 100vh;
  /*display: inline-block;*/
  flex: 1;
}

input[type="search"],
input[type="text"],
input[type="password"],
input[type="email"] {
  appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

html {
  -webkit-text-size-adjust: none;
}
